@font-face {
  font-family: 'Myriad Pro Regular';
  src:
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src:
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}