.hero
  &__container
    max-width: 100rem
    margin: auto
  &__title
    color: #fff
    font-size: 8rem
    line-height: 8.6rem
    margin-bottom: 3rem
  &__text
    font-size: 2rem
    line-height: 3rem
    color: #ddd
    margin-bottom: 50rem
  &__video
    position: absolute
.video
  &__title
    color: #fff
    font-size: 3.4rem
  &__subtitle
    color: #ddd
    font-size: 1.4rem
  &__video-block
    margin-top: -45rem