.hero
  &__container
    max-width: 100rem
    margin: auto
    padding-top: 10rem
  &__title
    color: #fff
    font-size: 8rem
    line-height: 8.6rem
    margin-bottom: 3rem
  &__text
    font-size: 2rem
    line-height: 3rem
    color: #ddd
    padding-bottom: 25rem
  &__video
    position: relative
    background: url('../img/video_pic.png')
    background-size: cover
    
.video
  &__title
    color: #fff
    font-size: 3.4rem
  &__subtitle
    color: #ddd
    font-size: 1.4rem
  &__play
    margin: auto