.section__places
  background-color: #f7f4f2
.places
  &__container
    max-width: 115rem
    margin: auto
  &__main-text
    width: 27.5rem
    color: #000000
    font-size: 2.4rem
  &__word
    color: #ff6600
  &__text
    font-size: 1.8rem
    margin-right: 1.9rem
    &-icon
      margin-bottom: -0.1rem
.text-block
  display: flex
  justify-content: start
  align-items: center
.slide
  &__inner
    display: flex
    justify-content: center
    align-items: top
  &__play
    background: #fff
    border-radius: 50%
    width: 5.4rem
    height: 5.4rem
    z-index: 5
    display: flex
    justify-content: center
    align-items: center
  &__left
    margin-right: 9rem
  &__description
    font-size: 1.3rem
    line-height: 2rem
    max-width: 25.3rem
    color: #444
    transition: 0.3s
    &:hover
      color:#17bebb
  &__video
    position: absolute
.swiper
  &-button
    &-prev
      width: 5.4rem
      height: 5.4rem
      top: 8rem
      left: 0.7rem
      &::after
        display: none
    &-next
      width: 5.4rem
      height: 5.4rem
      top: 8rem
      right: 0.7rem
      &::after
        display: none
.video
  display: flex
  justify-content: center
  align-items: center
  position: relative
  width: 30.6rem
  height: 17.2rem
  &:hover
    .overlay
      background: rgba(#17bebb, 0.5)
      width: 100%
      height: 100%
      top: 0
      left: 0
      position: absolute
    .slide__play
      &::before
        content: ''
        width: 9rem
        height: 9rem
        position: absolute
        top: calc( 50% - 4.5rem )
        left: calc( 50% - 4.5rem )
        border: 1px solid #fff
        border-radius: 50%
      path
        fill: #17bebb
    &+.slide__description
      color: #17bebb
    

      
.places__row
  display: flex
  align-items: flex-start
  justify-content: center
  overflow: hidden
  padding-bottom: 14rem
  padding-top: 7rem
.col-30
  width: 30%
  margin-top: 35rem
.col-70
  width: 70%
  margin-top: 35rem
.all__videos
  text-decoration: none
  color: black
.button
  &__arrow
    background: #fff
    border-radius: 50%
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    &:hover .arrow__pic
      opacity: 0.7
